<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Face recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='slim.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='vue.js') }}"></script>
    <script src="{{ url_for('static', filename='vue-resource.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>

    <div class="wrapper">
        <div class="text-center">
            <h2>Face recognition R&D</h2>
        </div>
        {% include 'properties/header.html' %}

        {% block content %}{% endblock %}

    </div>
    {% block scripts %}{% endblock %}
</body>
</html>