<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Face recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='slim.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>

<div class="wrapper">
    <div class="text-center">
        <h2>Face recognition platform</h2>
    </div>
    {% include 'properties/header.html' %}

    <div class="container">
        <div class="text-center mt-3">
            <h3>Registered Users</h3>
        </div>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <td>User Id</td>
                    <td>User Name</td>
                    <td>Created at</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td><button class="btn btn-primary btn-sm">View</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

</body>
</html>